{% extends "base.html" %}

{% block content %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <table id="name_mapping" border="1">
        <thead>
        <tr>
            <th>Original Description</th>
            <th></th>
            <th>Search String</th>
            <th>New Name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ entry.description }}</td>
            <td><button id="exact_match" type="button">Exact<br>Match</button></td>
            <td id="search_string">{{ form.description }}</td>
            <td>{{ form.name }}</td>
        </tr>
        </tbody>
    </table>
 
    <br>
    {{ form.submit() }} {{ form.cancel() }}

    <script>
        document.getElementById("exact_match").onclick = function() {
            //document.getElementById("search_string").data = '{{ form.description.data }}';
            //{{ form.description }} = 'foo';
            //document.getElementById("description").innerHTML = 'foo'
            document.getElementById("description").value = '{{ form.description.data }}'
        };
    </script>

    {% endblock %}