{% extends "base.html" %}

{% block content %}

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}

    <h1>{{ entry.name }}</h1>
    {{ form.category.label }}
    {{ form.category(size=1) }}
    {# {{ form.category.raw_data }} #}
    <br>
    {{ form.subCategory.label }}
    {{ form.subCategory(size=1) }}
    {#{ sub }#}
    {# {{ form.subCategory.raw_data }} #}
    <br>
    {{ form.submit() }}
    {{ form.cancel() }}
</form>

<script>
    var category_select = document.getElementById('category')
    var subCategory_select = document.getElementById('subCategory')

    // i don't think this works
    category_select.onchange = function() {
        category = category_select.value
        alert(category)
    }

    category_select.onchange = function()  {

            category = category_select.value;
            // triggers a POST request
            fetch('/subcategory/' + category).then(function(response) {

                response.json().then(function(data) {
                    var optionHTML = '';

                    for (var tag of data.tags) {
                        optionHTML += '<option value="' + tag.id + '">' + tag.subCategory + '</option>';
                    }

                    subCategory_select.innerHTML = optionHTML;
                })

            });
        }


</script>

    {% endblock %}