{% extends "base.html" %}

{% block content %}
<form action="/index" method="post" novalidate enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <table border="1">
        <tr>
            <th style="display:none;">{{ form.entry_id.label }}</th>
            <th>{{ form.date.label }}</th>
            <th>{{ form.posted_date.label }}</th>
            <th>{{ form.check_number.label }}</th>
            <th>{{ form.name.label }}</th>
            <th>{{ form.description.label }}</th>
            <th>{{ form.debit.label }}</th>
            <th>{{ form.credit.label }}</th>
            <th>{{ form.account_type.label }}</th>
            <th>{{ form.tag_id.label }}</th>
        </tr>
        {% for entry in entries %}
        <tr>
            <td style="display:none;"> {{ entry.id }}</td>
            <td> {{ entry.date|datetime }}</td>
            <td> {{ entry.posted_date|datetime }}</td>
            <td> {{ entry.check_number }}</td>
            <td><a href="{{ url_for('alias', id=entry.id) }}"> {{ entry.name }} </a></td>
            <td> {{ entry.description }}</td>
            <td> {{ entry.debit }}</td>
            <td> {{ entry.credit }}</td>
            <td> {{ entry.account_type }}</td>
            <td><a href="{{ url_for('tag', id=entry.id) }}"> {{ entry.displayTag() }} </a></td>
        </tr>
        {% endfor %}
    </table>

    {{ form.accountType.label }}
    {{ form.accountType(size=1) }} {{ form.submit() }}
    {{ form.file() }}

</form>



<input type="button" id="button" value="Click me!" />

<script type="text/javascript">
        function message () {
        alert("Hello!");
        }
        var button = document.getElementById('button');
        button.addEventListener('click', message, true);
    </script>

{% endblock %}