{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">


<form action="/index" method="post" novalidate enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <table id="example" border="1">
        <thead>
        <tr>
            <th style="display:none;">{{ form.entry_id.label }}</th>
            <th>{{ form.date.label }}</th>
            <th>{{ form.posted_date.label }}</th>
            <th>{{ form.check_number.label }}</th>
            <th>{{ form.name.label }}</th>
            <th>{{ form.description.label }}</th>
            <th>{{ form.debit.label }}</th>
            <th>{{ form.credit.label }}</th>
            <th>{{ form.amount.label }}</th>
            <th>{{ form.account_type.label }}</th>
            <th>{{ form.tag_id.label }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
        <tr>
            <td style="display:none;"> {{ entry.id }}</td>
            <td> {{ entry.date|datetime }}</td>
            <td> {{ entry.posted_date|datetime }}</td>
            <td> {{ entry.check_number }}</td>
            <td><a href="{{ url_for('alias', id=entry.id) }}"> {{ entry.name }} </a></td>
            <td> {{ entry.description }}</td>
            <td> {{ entry.debit|currency }}</td>
            <td> {{ entry.credit|currency }}</td>
            <td> {{ entry.getAmount()|currency }}</td>
            <td> {{ entry.account_type }}</td>
            <td><a href="{{ url_for('tag', id=entry.id) }}"> {{ entry.displayTag() }} </a></td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th style="display:none;">{{ form.entry_id.label }}</th>
            <th>{{ form.date.label }}</th>
            <th>{{ form.posted_date.label }}</th>
            <th>{{ form.check_number.label }}</th>
            <th>{{ form.name.label }}</th>
            <th>{{ form.description.label }}</th>
            <th>{{ form.debit.label }}</th>
            <th>{{ form.credit.label }}</th>
            <th>{{ form.amount.label }}</th>
            <th>{{ form.account_type.label }}</th>
            <th>{{ form.tag_id.label }}</th>
            </tr>
        </tfoot>
    </table>

    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

  <script>
$(document).ready(function() {
    $('#example').DataTable( {
        "iDisplayLength": 50,
        stateSave: true,

        "columnDefs": [
            {
                "targets": [ 2 ],
                "visible": false,
                "searchable": false
            },
            {
                "targets": [ 3 ],
                "visible": false,
                "searchable": false
            },
            {
                "targets": [ 6 ],
                "visible": false,
                "searchable": false
            },
            {
                "targets": [ 7 ],
                "visible": false,
                "searchable": false
            }
        ]
    } );
} );

$(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#example tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

    // DataTable
    var table = $('#example').DataTable();

    // Apply the search
    table.columns().every( function () {
        var that = this;

        $( 'input', this.footer() ).on( 'keyup change clear', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );
} );
  </script>

    {{ form.accountType.label }}
    {{ form.accountType(size=1) }} {{ form.submit() }}
    {{ form.file() }}
    <br>
    {{ form.export() }}


</form>

{% endblock %}