    <table id="summary" border="1">
        <thead>
        <tr>
            <th></th>
            <th>Category</th>
            <th>Total Amount</th>
            <th>Daily Avg</th>
            <th>Weekly Avg</th>
            <th>Monthly Avg</th>
            <th>Yearly Avg</th>
        </tr>
        </thead>
        <tbody>
        {% for key in data['categories'].keys() %}
        <tr>
            <td></td>
            <td> {{ key }} </td>
            <td> {{ data['categories'][key]['aggregate'][0]|currency }}</td>
            <td> {{ data['categories'][key]['aggregate'][1]|currency }}</td>
            <td> {{ data['categories'][key]['aggregate'][2]|currency }}</td>
            <td> {{ data['categories'][key]['aggregate'][3]|currency }}</td>
            <td> {{ data['categories'][key]['aggregate'][4]|currency }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
